<mat-toolbar style="background-color: #ffbf00;">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>WGGD.APP</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
   <mat-icon>share</mat-icon>
 </button>
</mat-toolbar>
<body class="background-image" style="background-image: url(../assets/photo-1519687198309-ea5b4e52fc1c.jpeg); background-size: cover;">
  <mat-card class="container-card" style="margin-right: 140px;">
  <div class="container-card">
  <app-header></app-header>
  <app-tasks></app-tasks>
</div>
</mat-card>
</body>

